
@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Message</h2>

<p>
<br />
<h2>Objective:</h2><br />
<br />
&nbsp&nbsp From humble beginnings, build an empire of train networks <br />&nbsp&nbsp connecting supply cities with demand cities.<br />
<br />

<h2>It is:</h2><br />
&nbsp MMORPG<br />
&nbsp Time based (1 hr = cash rollover)<br />
&nbsp Resource management<br />
<br />

<h2>What does a player do?:</h2><br />

<h3>Spend money:</h3>
&nbsp&nbsp Build railway lines between cities<br />
&nbsp&nbsp Maintenance of said lines<br />
&nbsp&nbsp Upgrading trains on lines<br />
&nbsp&nbsp Other costs: staff, security, rent, admin<br />
&nbsp&nbsp Fuel, costs of operating trains<br />
&nbsp&nbsp Fixing natural disasters/accidents<br /><br />

<h3>Make money:</h3>
&nbsp&nbsp Passenger fares<br />
&nbsp&nbsp Cargo <br /><br />

<h3>Buy different kinds of trains:</h3>
&nbsp&nbsp Passenger trains<br />
&nbsp&nbsp&nbsp&nbsp ~ Luxury or economical<br />
&nbsp&nbsp Freight trains<br />
&nbsp&nbsp&nbsp&nbsp ~ Different kinds of cargo allowed<br />
<br />

<h2>Cities</h2><br />

<h3>A City Has:</h3>
&nbsp&nbsp Population (= number of potential passengers)<br />
&nbsp&nbsp Goods the city demands<br />
&nbsp&nbsp Goods the city supplies<br />
&nbsp&nbsp Income<br />
<br />

</p>
